.container1{
    border-radius: 5px;
    background-color: #fbf7f5;
    margin-right: auto;
    margin-left:  auto;
    margin-top: 20px;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px; 
    box-shadow: 15px 15px 1px #4aaaa5, 15px 15px 1px 2px rgba(0,0,0,1);
    border: 2px solid rgba(0,0,0,1);
  }

.img1 {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    float: left;
    z-index: 800;
    padding: 5px;
    height: 400px;
  }

  .col-sm-4 {
    max-width: 32.333333%;
  }

  p {
    font-family: 'Fjalla One', sans-serif;
    font-size: large;
  }